/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Old+Standard+TT&display=swap');

/* CSS variables */
:root {
    --primary-font: "Poppins", Verdana, sans-serif;
    --secondary-font: "Inter", "Trebuchet MS", sans-serif;
    --warm-sand: #F5F1E8;
    --charcoal:#2C2C2C;
    --orange: #FF8040;
    --light-orange: #F9B487;
    --blue: #9CC6DB; 
}

/* Global styles */
body {
    background-color: var(--warm-sand);
   
}

h1, h2, h6 {
    font-family: var(--primary-font);
    color: var(--orange)
}

p {
    font-family: var(--secondary-font);
    color: var(--orange);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.nav-link, .navbar-brand, .hero-text-box, .social-media i {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


/* Navbar */
#navbar {
    background-color: var(--charcoal);
    border-bottom: 1.5px solid;
}

#navbar .logo img {
    width: 75px;
}

.navbar-brand { 
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--orange);
}

.nav-link {
    font-family: var(--primary-font);
    color: var(--orange);
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar-brand:hover, .nav-link:hover {
    color: var(--light-orange);
}

/* Burger Icon */
/* Boostrap Navbar Toggler CSS Icon Color Change from Coding Yaar */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FF8040' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: 2px solid var(--orange);
}

.navbar-toggler:hover {
  border-color: var(--light-orange);
}

/* Hero Video Section */
#hero-section {
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

#hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 0;
}

#hero-overlay {
    position:absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
}



#hero-overlay h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--orange);
}

#hero-overlay p {
    font-size: 1.25rem;
    color: var(--warm-sand);
}

.btn-hero {
    border: 2px solid var(--orange);
    background-color: transparent;
    color: var(--warm-sand);
}

.btn-hero:hover {
    background-color: var(--orange);
    color: var(--warm-sand);
    border-color: var(--orange);
}

/* Blog cards */

/* Footer */
#footer {
    background-color: var(--charcoal);
    padding: 2rem;
}

.social-media a {
    text-decoration: none;
}

.social-media i {
    color: var(--orange);
    font-size: 1.8rem;
    margin-right: 10px;
}

.social-media i:hover {
    color: var(--light-orange);
}