/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Old+Standard+TT&display=swap');

/* CSS variables */
:root {
    --primary-font: "Poppins", Verdana, sans-serif;
    --secondary-font: "Inter", "Trebuchet MS", sans-serif;
    --warm-sand: #F5F1E8;
    --charcoal:#2C2C2C;
    --orange: #FF8040;
    --light-orange: #F9B487;
    --blue: #9CC6DB; 
}

/* Global styles */
body {
    background-color: var(--warm-sand);
   
}

h1, h2, h6 {
    font-family: var(--primary-font);
    color: var(--orange)
}

p {
    font-family: var(--secondary-font);
    color: var(--orange);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}



/* Navbar */
#navbar {
    background-color: var(--charcoal);
    border-bottom: 1.5px solid;
}

.nav-link {
    color: var(--orange);
}

.nav-link:hover {
    color: var(--light-orange);
}

/* Hero Video Section */
#hero-section {
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

#hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 0;
}

#hero-overlay {
    position:absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
}

.hero-text-box {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#hero-overlay h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--orange);
}

#hero-overlay p {
    font-size: 1.25rem;
    color: var(--warm-sand);
}

.btn-hero {
    border: 2px solid var(--orange);
    background-color: transparent;
    color: var(--warm-sand);
}

/* Blog cards */
