/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Old+Standard+TT&display=swap');

/* CSS variables */
:root {
    --primary-font: "Poppins", Verdana, sans-serif;
    --secondary-font: "Inter", "Trebuchet MS", sans-serif;
    --warm-sand: #F5F1E8;
    --charcoal:#2C2C2C;
    --orange: #FF8040;
    --light-orange: #F9B487;
    --blue: #9CC6DB; 
}

/* Global styles */
body {
    font-family: var(--secondary-font);
    background-color: var(--warm-sand);
    color: var(--charcoal);
}

h1, h2, h6 {
    font-family: var(--primary-font);
    color: var(--orange)
}


#navbar {
    background-color: var(--charcoal);
    border-bottom: 1.5px solid; 
}