{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->


<!-- Hero Video and small section of text -->
<section class="section" id="hero-section">
    <video autoplay muted loop playinline id="hero-video">
        <!-- Video by Anton Lukin accessed via Pixabay -->
        <source src="{% static 'videos/hero.mp4' %}" type="video/mp4" />
            Your browser does not support the video tag.
    </video>
    <div id="hero-overlay">
        <div class="hero-text-box">
            <h1>The Independent Explorer</h1>
            <p>Your adventure awaits!</p>
        </div>
        <a href="#blog-section" class="btn btn-hero">Explore Blogs</a>
    </div>
</section>



<!-- Blog Column 4 blog posts visable 2 per row, next and prev buttons-->
<section class="container section" id="blog-section">

    <!-- Blog Title -->
    <h1 class="text-center" id="blog-section-title">Blogs</h1>

    <!-- Blog Grid: 2 per row -->
    <div class="row">
        {% for post in post_list %}
        <div class="col-12 col-md-6 mb-4">
            <div class="card h-100 blog-card">
                <div class="card-body d-flex flex-column">
                    <div class="image-container">
                        <div class="image-flash">
                        </div>
                    </div>
                    <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                    </a>
                    <p class="card-text text-muted">Destination: {{ post.destination }}</p>
                    <p class="card-text text-muted h6">Estimated read time: {{ post.read_time }} minutes</p>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <div class="blog-card mt-auto">
                        <hr />
                        <p class="card-text text-muted h6">Published on: {{ post.published }}</p>
                        <a href="{% url 'post_detail' post.slug %}" class="btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>

    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Blog navigation">
        <ul class="pagination justify-content-" center>

            <!-- Previous Page Button -->
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">&laquo;
                    PREV</a>
            </li>
            {% endif %}

            <!-- Next Page Button -->
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</section>

<!-- About The Independent Explorer -->

<!-- Destinations Visited plus carousel-->

<!--<section class="container section" id="destinations-section">

     Destinations Title
     <h1 class="text-center" id="destinations-title">Destinations Visited</h1>

     Destinations Grid: 4 per row 
    <div class="row g-3">

        Card 1 
        <div class="col-6 col-md-3">
            <div class="card destination-card">
                 Image by Raimond Klavins accessed via Unsplash 
                <img src="{% static 'images/destination1.jpg' %}" class="card-img-top" alt="Destination 1">
                <div class="card-body">
                    <h5 class="card-title">Destination 1</h5>
                </div>
            </div>
        </div>

         Card 2 
        <div class="col-6 col-md-3">
            <div class="card destination-card">
                <img src="{% static 'images/destination2.jpg' %}" class="card-img-top" alt="Destination 2">
                <div class="card-body">
                    <h5 class="card-title">Destination 2</h5>
                </div>
            </div>
        </div>

         Card 3 
        <div class="col-6 col-md-3">
            <div class="card destination-card">
                <img src="{% static 'images/destination3.jpg' %}" class="card-img-top" alt="Destination 3">
                <div class="card-body">
                    <h5 class="card-title">Destination 3</h5>
                </div>
            </div>
        </div>


         Card 4 
        <div class="col-6 col-md-3">
            <div class="card destination-card">
                <img src="{% static 'images/destination4.jpg' %}" class="card-img-top" alt="Destination 4">
                <div class="card-body">
                    <h5 class="card-title">Destination 4</h5>
                </div>
            </div>
        </div>

         Card 5 
        <div class="col-6 col-md-3">
            <div class="card destination-card">
                <img src="{% static 'images/destination5.jpg' %}" class="card-img-top" alt="Destination 5">
                <div class="card-body">
                    <h5 class="card-title">Destination 5</h5>
                </div>
            </div>
        </div>

        Card 6 
        <div class="col-6 col-md-3">
            <div class="card destination-card">
                <img src="{% static 'images/destination6.jpg' %}" class="card-img-top" alt="Destination 6">
                <div class="card-body">
                    <h5 class="card-title">Destination 6</h5>
                </div>
            </div>
        </div>

         Card 7 
        <div class="col-6 col-md-3">
            <div class="card destination-card">
                <img src="{% static 'images/destination7.jpg' %}" class="card-img-top" alt="Destination 7">
                <div class="card-body">
                    <h5 class="card-title">Destination 7</h5>
                </div>
            </div>
        </div>

        Card 8
        <div class="col-6 col-md-3">
            <div class="card destination-card">
                <img src="{% static 'images/destination8.jpg' %}" class="card-img-top" alt="Destination 8">
                <div class="card-body">
                    <h5 class="card-title">Destination 8</h5>
                </div>
            </div>
        </div>


    </div>

</section> -->


<!-- Send Me a Message -->







<!-- index.html content ends here -->
{% endblock %}